@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-parish-light text-parish-dark font-sans;
}

/* Classe utilitária para títulos elegantes */
h1, h2, h3 {
  @apply font-serif;
}